/*
      SPACE SIZE SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /
      80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /
      36 / 44 / 52 / 62 / 74 / 86 / 98
      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #001b39;
  color: #fff;
}

.heading-primary {
  color: #fff;
  background-color: #001524;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.8rem;
  text-align: center;
  padding: 4rem;
  margin-bottom: 4rem;
}

.heading-secondary {
  color: #ffd35b;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.h2-22 {
  color: #dfa60a;
}

.game-details {
  margin-bottom: 2rem;
}

.grid {
  background-color: #fff;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-bottom: 3rem;
}

.square {
  width: 200px;
  height: 200px;
  border: solid 1px #000;
}

.mole {
  /* background-color: #ffd35b; */
  background-image: url('images/mole.jpeg');
  background-size: cover;
}

.flex-rw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.btn {
  color: #fff;
  width: 18rem;
  padding: 1.8rem 2rem;
  font-size: 1, 4rem;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  cursor: pointer;
  background-color: #002f5d;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #033d78;
}

.hidden {
  display: none;
}

.copyright {
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 4rem;
}

.link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
